/* Estilos para o título */
.title {
    margin-top: 20px; /* Define a margem superior */
}

/* Estilos para o container */
.container {
    display: flex; /* Define o display como flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Define o espaçamento entre os itens */
    padding: 0 20px 0 20px; /* Adiciona preenchimento */
}

/* Estilos para o cartão */
.card {
    display: flex; /* Define o display como flexível */
    width: 70%; /* Define a largura */
    border-radius: 8px; /* Define o raio da borda */
    overflow: hidden; /* Oculta o conteúdo excedente */
    background-color: #fff; /* Define a cor de fundo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    transition: transform 0.3s; /* Adiciona transição */
    width: 80%; /* Define a largura */
    flex-direction: row-reverse; /* Inverte a direção dos itens */
    padding: 10px 0 0 10px; /* Adiciona preenchimento */
}

.card:hover {
    transform: translateY(-5px); /* Aplica uma transformação ao passar o mouse */
}

/* Estilos para a imagem do cartão */
.card-image {
    flex: 1; /* Define a proporção */
    padding: 10px; /* Adiciona preenchimento */
}

.item img {
    width: 270px; /* Define a largura */
    height: auto; /* Define a altura automática */
}

.card-image img {
    max-width: 100%; /* Define a largura máxima */
    height: auto; /* Define a altura automática */
    border-radius: 8px; /* Define o raio da borda */
}

/* Estilos para as informações do cartão */
.card-info {
    flex: 2; /* Define a proporção */
    padding: 20px 0 0 20px; /* Adiciona preenchimento */
}

.card-title {
    font-size: 20px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define o peso da fonte */
    margin-bottom: 10px; /* Define a margem inferior */
}

.card-info p {
    margin: 5px 0; /* Define a margem */
}
